{
    "ignoreFiles": [
        "src/styles/base/_animate.scss",
        "src/styles/base/_grid.scss",
        "src/styles/base/_mixins.scss",
        "src/styles/base/_reset.scss"
    ],
    "plugins": [
        "stylelint-scss",
        "stylelint-selector-bem-pattern"
    ],
    "rules": {
        "block-no-empty": true,
        "block-closing-brace-empty-line-before": "never",
        "block-no-single-line": true,
        "block-opening-brace-space-before": "always",
        "color-hex-case": "lower",
        "color-no-invalid-hex": true,
        "comment-no-empty": true,
        "comment-whitespace-inside": "always",
        "declaration-bang-space-after": "never",
        "declaration-bang-space-before": "always",
        "declaration-colon-space-after": "always",
        "declaration-colon-space-before": "never",
        "declaration-block-semicolon-newline-after": "always",
        "function-calc-no-unspaced-operator": true,
        "function-comma-space-after": "always",
        "function-max-empty-lines": 0,
        "function-name-case": "lower",
        "function-parentheses-newline-inside": "never-multi-line",
        "function-parentheses-space-inside": "never",
        "function-url-no-scheme-relative": true,
        "function-url-quotes": "always",
        "length-zero-no-unit": true,
        "max-empty-lines": 2,
        "max-nesting-depth": 3,
        "media-feature-colon-space-after": "always",
        "media-feature-colon-space-before": "never",
        "media-feature-name-case": "lower",
        "media-feature-no-missing-punctuation": true,
        "no-duplicate-selectors": true,
        "no-empty-source": true,
        "no-unknown-animations": true,
        "number-leading-zero": "never",
        "number-max-precision": 3,
        "number-no-trailing-zeros": true,
        "property-no-vendor-prefix": true,
        "selector-class-pattern": "^[a-z]([-]?[a-z0-9]+)*(__[a-z0-9]([-]?[a-z0-9]+)*)?((_[a-z0-9]([-]?[a-z0-9]+)*){2})?$",
        "selector-list-comma-newline-after": "always",
        "selector-no-id": true,
        "selector-pseudo-element-colon-notation": "single",
        "selector-pseudo-element-no-unknown": true,
        "shorthand-property-no-redundant-values": true,
        "string-quotes": "single",
        "unit-case": "lower",
        "unit-no-unknown": true,
        "value-keyword-case": "lower",
        "value-list-comma-space-after": "always",
        "value-list-max-empty-lines": 0,
        "scss/at-extend-no-missing-placeholder": true,
        "scss/dollar-variable-pattern": "^[a-z]+([a-z0-9-]+[a-z0-9]+)?$",
        "scss/dollar-variable-colon-space-after": "always-single-line",
        "scss/selector-no-redundant-nesting-selector": true,
        "plugin/selector-bem-pattern": {
            "preset": "bem"
        }
    }
}
