include mixins/all-mixins
doctype html
html(lang='ru')
    head
        meta(charset="UTF-8")
        meta(name='viewport' content='width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0')

        link(rel='shortcut icon' type='image/x-icon' href='/favicons/favicon.ico')
        link(rel='stylesheet' href="/styles/app.css")

        block title
            title 404
    body
        .l-error-page
            .b-error-page
                .b-accent-block
                .l-container.b-error-page__wrap
                    .b-error-page__inner
                        .b-error-page__img
                            img(src="/img/404.png")
                        .b-error-page__text-block
                            div страница не найдена
                            .b-error-page__num 404
                            .b-error-page__ttl совсем ничего
                            a(href="#").b-error-page__link на главную

