include mixins/all-mixins
doctype html
html(lang='ru')
    head
        meta(charset="UTF-8")
        meta(name='viewport' content='width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0')
        link(rel='shortcut icon' type='image/x-icon' href='/favicons/favicon.ico')
        link(rel='stylesheet' href="/styles/app.css")

        block title
            title 500
    body
        .l-error-page
            .b-error-page
                .b-accent-block.b-accent-block_color_accent2
                    svg(width="100%" height="400" viewBox="0 0 100 400" preserveAspectRatio="none")
                        path(d="M 0,0 L 400,0 200,0 0,400 z")
                .l-container.b-error-page__wrap
                    .b-error-page__inner
                        .b-error-page__img
                            img(src="/img/500.png")
                        .b-error-page__text-block
                            div ошибка
                            .b-error-page__num 500
                            .b-error-page__ttl упс, вы ничего не видели
                            a(href="#").b-error-page__link на главную

