include mixins/all-mixins
doctype html
html(lang='ru')
    head
        meta(charset="UTF-8")
        meta(name='viewport' content='width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0')
        meta(name="cmsmagazine"  content="f2d72d3408f63252b7c735ac5b026ced")
        link(rel='shortcut icon' type='image/x-icon' href='/img/favicons/favicon.ico')
        link(rel='stylesheet' href="/styles/magnific-popup.css")
        link(rel='stylesheet' href="/styles/app.css")

        block title
            title Заголовок по умолчанию
    body
        .l-wrap
            block content

        script(src="/scripts/jquery-3.2.1.min.js")
        script(src="/scripts/app.js")
        script(src="/scripts/masonry.pkgd.min.js")
        script(src="/scripts/imagesloaded.pkgd.min.js")
        script(src="/scripts/jquery.magnific-popup.min.js")
