include mixins/all-mixins
.b-menu__wrapper
    .b-menu__wrap
        .b-menu__block-angle
        .b-menu__block-inner
            ul.b-menu__social
                li.b-menu__social-item
                    a(href="#")
                        +svg('vk')
                li.b-menu__social-item
                    a(href="#")
                        +svg('in')
                li.b-menu__social-item
                    a(href="#")
                        +svg('twitter')
                li.b-menu__social-item
                    a(href="#")
                        +svg('facebook')
                li.b-menu__social-item
                    a(href="#")
                        +svg('github')
                li.b-menu__social-item
                    a(href="#")
                        +svg('google')
            .b-menu__bottom
                .b-menu__tags-ttl Теги
                ul.b-post__tags.b-menu__tags
                    li.b-post__tag
                        a.b-post__tag-link(href="#")
                            .b-post__tag-link-txt vbgfdsfdgsbgf gdfsegrtes
                    li.b-post__tag
                        a.b-post__tag-link(href="#")
                            .b-post__tag-link-txt grtvrtfgrt tgrtsgs
                    li.b-post__tag
                        a.b-post__tag-link(href="#")
                            .b-post__tag-link-txt верстка
                    li.b-post__tag
                        a.b-post__tag-link(href="#")
                            .b-post__tag-link-txt верстка
                    li.b-post__tag
                        a.b-post__tag-link(href="#")
                            .b-post__tag-link-txt .NET
                    li.b-post__tag
                        a.b-post__tag-link(href="#")
                            .b-post__tag-link-txt HTML
                    li.b-post__tag
                        a.b-post__tag-link(href="#")
                            .b-post__tag-link-txt .NET
                    li.b-post__tag
                        a.b-post__tag-link(href="#")
                            .b-post__tag-link-txt HTML
                    li.b-post__tag
                        a.b-post__tag-link(href="#")
                            .b-post__tag-link-txt верстка
        .b-menu__close.j-burger-close
            +svg('close', 'b-menu__btn-close')
            .b-menu__close-btn Закрыть