.b-accent-block {
  width: 100%;
  position: absolute;
  top: 0;
  z-index: 1;
  background-color: $main;
  height: 150px;

  svg {
    fill: $main;
    display: none;
  }

  @media #{$large-up} {
    height: 400px;
    background-color: transparent;

    svg {
      display: block;
    }
  }
}

.b-accent-block_color_accent {
  svg {
    fill: $accent;
  }
}

.b-accent-block_color_accent1 {
  svg {
    fill: #46daff;
  }
}

.b-accent-block_color_accent2 {
  svg {
    fill: #8ff5a1;
  }
}

.b-accent-block_color_gray {
  svg {
    fill: $gray;
  }
}

.b-accent-block_position_bottom {
  bottom: 0;
  top: auto;
  height: 240px;
  z-index: 0;

  @media #{$large-up} {
    height: 250px;
  }
}
